<header>
  <h1
    uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
    class="uk-text-center"
  >
    Payment Form
  </h1>
  <p
    uk-scrollspy="cls: uk-animation-shake; repeat: true"
    class="uk-text-center"
  >
    Enter Credit Card Details Carefully.
  </p>
</header>

<!-- Payment form -->
  <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body">

    <form class="uk-grid-small" uk-grid>
      <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="50" />
      </div>
      <div class="uk-width-1-4@s">
        <input class="uk-input" type="text" placeholder="25" />
      </div>
      <div class="uk-width-1-4@s">
        <input class="uk-input" type="text" placeholder="25" />
      </div>
      <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="50" />
      </div>
      <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="50" />
      </div>
    </form>
  </div>
