<header>
  <h1
    uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
    class="uk-text-center"
  >
    Payment Form
  </h1>
  <p
    uk-scrollspy="cls: uk-animation-shake; repeat: false"
    class="uk-text-center"
  >
    Enter Credit Card Details Carefully.
  </p>
</header>

<!-- Payment form -->
<div
  class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body"
>
  <form class="uk-grid-small" [formGroup]="paymentForm" (ngSubmit)="createPayment()" uk-grid >

    <div class="uk-width-1-2@s">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: credit-card"></span>
        <input
          class="uk-input"
          type="number"
          placeholder="Credit Card Number"
          formControlName="cardNumber" required>
      </div>
    </div>
    <div class="uk-width-1-2@s">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input class="uk-input" type="text" placeholder="Card Holder" formControlName="cardHolder" required >
      </div>
    </div>

    <div class="uk-width-1-1@s">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: calendar"></span>
        <input class="uk-input" type="date" placeholder="Expiration Date" formControlName="expirationDate" required >
      </div>
    </div>

    <div class="uk-width-1-2@s">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: lock"></span>
        <input class="uk-input" type="password" placeholder="CCV" formControlName="CCV"/>
      </div>
    </div>

    <div class="uk-width-1-2@s">
      <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: copy"></span>
        <input class="uk-input" type="number" placeholder="Amount" formControlName="amount" required>
      </div>
    </div>

    <input [disabled]="paymentForm.invalid" class="uk-button uk-button-primary" type="submit"
    value="Submit" />
  </form>
</div>
