<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">
    <div class="uk-navbar-center-left">
      <div>
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">CREDIT CARD</a>
          </li>
        </ul>
      </div>
    </div>
    <a class="uk-navbar-item uk-logo" href="#">PAYMENT</a>
    <div class="uk-navbar-center-right">
      <div>
        <ul class="uk-navbar-nav">
          <li><a href="#">SYSTEM</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

